<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirect Mode</title>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
  <div style="padding: 50px;">
    <!-- 戻る -->
    <div style="margin-bottom: 20px">
      <a href="/">top</a>
    </div>

    <!-- Googleボタン -->
    <div style="margin-bottom: 50px">
      <div id="g_id_onload"
        data-client_id="{{ client_id }}"
        data-context="signin"
        data-ux_mode="popup"
        data-login_uri="http://localhost:8000/redirect_mode/verify"
        data-auto_prompt="false">
      </div>

      <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="outline"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
      </div>
    </div>

    <!-- クリアボタン -->
    <div style="margin-bottom: 50px;">
      <button onclick="revokeIdToken()">Clear</button>
    </div>

    <!-- トークン表示領域 -->
    <div id="result">
      <div style="margin-bottom: 1rem;">
        <table id="redirect_form_data" border="1">
          <caption>リダイレクト時のFormデータ</caption>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </table>
      </div>

      <div style="margin-bottom: 1rem;">
        <table id="redirect_mode_idinfo" border="1">
          <caption>IDトークンのペイロード</caption>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </table>
      </div>
    </div>
  </div>

<script>
/**
 * トークンを削除する
 */
function revokeIdToken() {
  let idinfo = JSON.parse(localStorage.getItem("redirect_mode_idinfo"))
  if (idinfo) {
    google.accounts.id.revoke(idinfo.sub, done => {
      localStorage.clear();
      location.reload();
    });
  }
}

/**
  * トークンを表示する
  */
function displayIdToken() {
  for (let key of ["redirect_form_data", "redirect_mode_idinfo"]) {
    let data = JSON.parse(localStorage.getItem(key))
    if (data) {
      let table = document.getElementById(key)
      Object.entries(data).forEach(([k, v]) => {
        table.insertAdjacentHTML("beforeend", `<tr><td>${k}</td><td width="600">${v}</td></tr>`)
      })
    }
  }
}

displayIdToken()
</script>

<style>
table td {
  word-break:break-all
}
</style>
</body>
</html>